# dependencies & build output
node_modules/
dist/
build/
*.egg-info/
__pycache__/
.pytest_cache/

# python distributions
*.whl
*.tar.gz

# compiled example binaries
examples/*/vxsdkexample
examples/*/vxsdkinstallexample
examples/*/vxsdkmarketplaceexample
examples/**/*.exe

# local env
.env
.DS_Store
